// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  border: 1px solid blue;
}

thead {
  background: blue;
  color: yellow;
}

td {
  background: #add8e6
}